<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
  <!--引入配置文件-->
   <properties resource="database.properties"/>
    <settings>
       <setting name="logImpl" value="log4j"/>
       <!-- <setting name="autoMappingBehavior" value="NONE"/> -->
    </settings> 
    
    <!--配置数据源-->
    <typeAliases>
    <package name="cn.appinfodb.pojo"></package>
    </typeAliases>

	<environments default="development">     
       <environment id="development">
         <transactionManager type="JDBC"></transactionManager>
         <dataSource type="POOLED">
           <property name="driver" value="${driver}"/>
           <property name="url" value="${url}"/>
           <property name="username" value="${username}"/>
           <property name="password" value="${password}"/>
         </dataSource>
       </environment>
     </environments>
     <!--将mapper加载到配置文件中-->
	<mappers>
      <mapper resource="cn/appinfodb/dao/DevMapper.xml"/>
     </mappers>
</configuration>      
    